html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background: 
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./Static/new-york-city.jpg');
  background-attachment: fixed;
  background-size: cover; 
}

/* * {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
} */

.notesWrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 20px;
  /* border: 5px dotted darkturquoise; */
}

.notesHeader {
  font-family: 'Josefin Sans', sans-serif;
  color: lightcoral;
}

.notesBody {
  display: grid;
  grid-gap: 20px;
}

.notesFooter {
  background: lightcoral;
}